--
-- PostgreSQL database dump
--

\restrict 5i6wTuNJAxvkPq8FAhUQEbQBL9i58bh2lpbfrctQVyLpAetvONkSJUDOaJ7pB9d

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: airtable_backup; Type: SCHEMA; Schema: -; Owner: postgres_db_user
--

CREATE SCHEMA airtable_backup;


ALTER SCHEMA airtable_backup OWNER TO postgres_db_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: anglers; Type: TABLE; Schema: airtable_backup; Owner: postgres_db_user
--

CREATE TABLE airtable_backup.anglers (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    aliases character varying(255)[],
    airtable_record_id character varying(255) NOT NULL,
    airtable_created_datetime timestamp without time zone,
    airtable_last_updated_datetime timestamp without time zone,
    backup_timestamp timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE airtable_backup.anglers OWNER TO postgres_db_user;

--
-- Name: anglers_id_seq; Type: SEQUENCE; Schema: airtable_backup; Owner: postgres_db_user
--

CREATE SEQUENCE airtable_backup.anglers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE airtable_backup.anglers_id_seq OWNER TO postgres_db_user;

--
-- Name: anglers_id_seq; Type: SEQUENCE OWNED BY; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER SEQUENCE airtable_backup.anglers_id_seq OWNED BY airtable_backup.anglers.id;


--
-- Name: bodies_of_water; Type: TABLE; Schema: airtable_backup; Owner: postgres_db_user
--

CREATE TABLE airtable_backup.bodies_of_water (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    latitudeandlongitude character varying(255) NOT NULL,
    notes text,
    airtable_record_id character varying(255) NOT NULL,
    airtable_created_datetime timestamp without time zone,
    airtable_last_updated_datetime timestamp without time zone,
    backup_timestamp timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE airtable_backup.bodies_of_water OWNER TO postgres_db_user;

--
-- Name: bodies_of_water_id_seq; Type: SEQUENCE; Schema: airtable_backup; Owner: postgres_db_user
--

CREATE SEQUENCE airtable_backup.bodies_of_water_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE airtable_backup.bodies_of_water_id_seq OWNER TO postgres_db_user;

--
-- Name: bodies_of_water_id_seq; Type: SEQUENCE OWNED BY; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER SEQUENCE airtable_backup.bodies_of_water_id_seq OWNED BY airtable_backup.bodies_of_water.id;


--
-- Name: catch_media; Type: TABLE; Schema: airtable_backup; Owner: postgres_db_user
--

CREATE TABLE airtable_backup.catch_media (
    id integer NOT NULL,
    media_id character varying(255) NOT NULL,
    airtable_catch_id character varying(255) NOT NULL,
    catch_id character varying(255) NOT NULL,
    blob_path character varying(255) NOT NULL,
    read_url character varying(255) NOT NULL,
    original_filename character varying(255) NOT NULL,
    media_type character varying(255) NOT NULL,
    content_type character varying(255) NOT NULL,
    file_size_bytes integer NOT NULL,
    uploaded_by character varying(255),
    uploaded_at timestamp without time zone,
    catch_id_raw character varying(255),
    record_number integer,
    record_number_v2 integer,
    airtable_id character varying(255) NOT NULL,
    airtable_created_datetime timestamp without time zone,
    airtable_last_updated_datetime timestamp without time zone,
    backup_timestamp timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE airtable_backup.catch_media OWNER TO postgres_db_user;

--
-- Name: catch_media_id_seq; Type: SEQUENCE; Schema: airtable_backup; Owner: postgres_db_user
--

CREATE SEQUENCE airtable_backup.catch_media_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE airtable_backup.catch_media_id_seq OWNER TO postgres_db_user;

--
-- Name: catch_media_id_seq; Type: SEQUENCE OWNED BY; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER SEQUENCE airtable_backup.catch_media_id_seq OWNED BY airtable_backup.catch_media.id;


--
-- Name: catches; Type: TABLE; Schema: airtable_backup; Owner: postgres_db_user
--

CREATE TABLE airtable_backup.catches (
    id integer NOT NULL,
    catch_id character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    record_source character varying(255) NOT NULL,
    angler_id character varying(255),
    angler_name character varying(255),
    fish_species_id character varying(255),
    fish_species_name character varying(255),
    body_of_water_id character varying(255),
    body_of_water_name character varying(255),
    caught_when timestamp without time zone,
    length_in_inches double precision,
    water_depth_in_feet double precision,
    notes text,
    conversation_airtable_id character varying(255),
    conversation_id character varying(255),
    record_number integer,
    angler_name_raw character varying(255),
    fish_species_name_raw character varying(255),
    body_of_water_name_raw character varying(255),
    airtable_id character varying(255) NOT NULL,
    airtable_created_datetime timestamp without time zone,
    airtable_last_updated_datetime timestamp without time zone,
    backup_timestamp timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE airtable_backup.catches OWNER TO postgres_db_user;

--
-- Name: catches_backup_20251123; Type: TABLE; Schema: airtable_backup; Owner: postgres_db_user
--

CREATE TABLE airtable_backup.catches_backup_20251123 (
    id integer NOT NULL,
    catch_id character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    record_source character varying(255) NOT NULL,
    angler_id character varying(255),
    angler_name character varying(255),
    fish_species_id character varying(255),
    fish_species_name character varying(255),
    body_of_water_id character varying(255),
    body_of_water_name character varying(255),
    caught_when timestamp without time zone,
    length_in_inches double precision,
    water_depth_in_feet double precision,
    notes text,
    conversation_airtable_id character varying(255),
    conversation_id character varying(255),
    record_number integer,
    angler_name_raw character varying(255),
    fish_species_name_raw character varying(255),
    body_of_water_name_raw character varying(255),
    airtable_id character varying(255) NOT NULL,
    airtable_created_datetime timestamp without time zone,
    airtable_last_updated_datetime timestamp without time zone,
    backup_timestamp timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE airtable_backup.catches_backup_20251123 OWNER TO postgres_db_user;

--
-- Name: catches_backup_20251123_id_seq; Type: SEQUENCE; Schema: airtable_backup; Owner: postgres_db_user
--

CREATE SEQUENCE airtable_backup.catches_backup_20251123_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE airtable_backup.catches_backup_20251123_id_seq OWNER TO postgres_db_user;

--
-- Name: catches_backup_20251123_id_seq; Type: SEQUENCE OWNED BY; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER SEQUENCE airtable_backup.catches_backup_20251123_id_seq OWNED BY airtable_backup.catches_backup_20251123.id;


--
-- Name: catches_backup_afterexcelload_20251123; Type: TABLE; Schema: airtable_backup; Owner: postgres_db_user
--

CREATE TABLE airtable_backup.catches_backup_afterexcelload_20251123 (
    id integer NOT NULL,
    catch_id character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    record_source character varying(255) NOT NULL,
    angler_id character varying(255),
    angler_name character varying(255),
    fish_species_id character varying(255),
    fish_species_name character varying(255),
    body_of_water_id character varying(255),
    body_of_water_name character varying(255),
    caught_when timestamp without time zone,
    length_in_inches double precision,
    water_depth_in_feet double precision,
    notes text,
    conversation_airtable_id character varying(255),
    conversation_id character varying(255),
    record_number integer,
    angler_name_raw character varying(255),
    fish_species_name_raw character varying(255),
    body_of_water_name_raw character varying(255),
    airtable_id character varying(255) NOT NULL,
    airtable_created_datetime timestamp without time zone,
    airtable_last_updated_datetime timestamp without time zone,
    backup_timestamp timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE airtable_backup.catches_backup_afterexcelload_20251123 OWNER TO postgres_db_user;

--
-- Name: catches_backup_afterexcelload_20251123_id_seq; Type: SEQUENCE; Schema: airtable_backup; Owner: postgres_db_user
--

CREATE SEQUENCE airtable_backup.catches_backup_afterexcelload_20251123_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE airtable_backup.catches_backup_afterexcelload_20251123_id_seq OWNER TO postgres_db_user;

--
-- Name: catches_backup_afterexcelload_20251123_id_seq; Type: SEQUENCE OWNED BY; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER SEQUENCE airtable_backup.catches_backup_afterexcelload_20251123_id_seq OWNED BY airtable_backup.catches_backup_afterexcelload_20251123.id;


--
-- Name: catches_id_seq; Type: SEQUENCE; Schema: airtable_backup; Owner: postgres_db_user
--

CREATE SEQUENCE airtable_backup.catches_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE airtable_backup.catches_id_seq OWNER TO postgres_db_user;

--
-- Name: catches_id_seq; Type: SEQUENCE OWNED BY; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER SEQUENCE airtable_backup.catches_id_seq OWNED BY airtable_backup.catches.id;


--
-- Name: catches_testing; Type: TABLE; Schema: airtable_backup; Owner: postgres_db_user
--

CREATE TABLE airtable_backup.catches_testing (
    id integer NOT NULL,
    catch_id character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    record_source character varying(255) NOT NULL,
    angler_id character varying(255),
    angler_name character varying(255),
    fish_species_id character varying(255),
    fish_species_name character varying(255),
    body_of_water_id character varying(255),
    body_of_water_name character varying(255),
    caught_when timestamp without time zone,
    length_in_inches double precision,
    water_depth_in_feet double precision,
    notes text,
    conversation_airtable_id character varying(255),
    conversation_id character varying(255),
    record_number integer,
    angler_name_raw character varying(255),
    fish_species_name_raw character varying(255),
    body_of_water_name_raw character varying(255),
    airtable_id character varying(255) NOT NULL,
    airtable_created_datetime timestamp without time zone,
    airtable_last_updated_datetime timestamp without time zone,
    backup_timestamp timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE airtable_backup.catches_testing OWNER TO postgres_db_user;

--
-- Name: catches_testing_id_seq; Type: SEQUENCE; Schema: airtable_backup; Owner: postgres_db_user
--

CREATE SEQUENCE airtable_backup.catches_testing_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE airtable_backup.catches_testing_id_seq OWNER TO postgres_db_user;

--
-- Name: catches_testing_id_seq; Type: SEQUENCE OWNED BY; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER SEQUENCE airtable_backup.catches_testing_id_seq OWNED BY airtable_backup.catches_testing.id;


--
-- Name: conversations; Type: TABLE; Schema: airtable_backup; Owner: postgres_db_user
--

CREATE TABLE airtable_backup.conversations (
    id integer NOT NULL,
    conversation_id character varying(255) NOT NULL,
    channel character varying(255) NOT NULL,
    user_id character varying(255) NOT NULL,
    session_id character varying(255) NOT NULL,
    mode character varying(255),
    at_catch_table_id character varying(255),
    caught_when_utc timestamp without time zone,
    timezone character varying(255),
    date_of_catch_raw character varying(255),
    time_of_catch_raw character varying(255),
    caught_by_raw character varying(255),
    fish_species_raw character varying(255),
    body_of_water_raw character varying(255),
    length_in_raw character varying(255),
    water_depth_ft_raw character varying(255),
    notes_raw text,
    conversation_status character varying(255),
    started_at timestamp without time zone,
    ended_at timestamp without time zone,
    airtable_record_id character varying(255) NOT NULL,
    airtable_created_datetime timestamp without time zone,
    airtable_last_updated_datetime timestamp without time zone,
    backup_timestamp timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE airtable_backup.conversations OWNER TO postgres_db_user;

--
-- Name: conversations_id_seq; Type: SEQUENCE; Schema: airtable_backup; Owner: postgres_db_user
--

CREATE SEQUENCE airtable_backup.conversations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE airtable_backup.conversations_id_seq OWNER TO postgres_db_user;

--
-- Name: conversations_id_seq; Type: SEQUENCE OWNED BY; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER SEQUENCE airtable_backup.conversations_id_seq OWNED BY airtable_backup.conversations.id;


--
-- Name: fish_species; Type: TABLE; Schema: airtable_backup; Owner: postgres_db_user
--

CREATE TABLE airtable_backup.fish_species (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    aliases character varying(255)[],
    notes text,
    airtable_record_id character varying(255) NOT NULL,
    airtable_created_datetime timestamp without time zone,
    airtable_last_updated_datetime timestamp without time zone,
    backup_timestamp timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE airtable_backup.fish_species OWNER TO postgres_db_user;

--
-- Name: fish_species_id_seq; Type: SEQUENCE; Schema: airtable_backup; Owner: postgres_db_user
--

CREATE SEQUENCE airtable_backup.fish_species_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE airtable_backup.fish_species_id_seq OWNER TO postgres_db_user;

--
-- Name: fish_species_id_seq; Type: SEQUENCE OWNED BY; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER SEQUENCE airtable_backup.fish_species_id_seq OWNED BY airtable_backup.fish_species.id;


--
-- Name: anglers id; Type: DEFAULT; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER TABLE ONLY airtable_backup.anglers ALTER COLUMN id SET DEFAULT nextval('airtable_backup.anglers_id_seq'::regclass);


--
-- Name: bodies_of_water id; Type: DEFAULT; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER TABLE ONLY airtable_backup.bodies_of_water ALTER COLUMN id SET DEFAULT nextval('airtable_backup.bodies_of_water_id_seq'::regclass);


--
-- Name: catch_media id; Type: DEFAULT; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER TABLE ONLY airtable_backup.catch_media ALTER COLUMN id SET DEFAULT nextval('airtable_backup.catch_media_id_seq'::regclass);


--
-- Name: catches id; Type: DEFAULT; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER TABLE ONLY airtable_backup.catches ALTER COLUMN id SET DEFAULT nextval('airtable_backup.catches_id_seq'::regclass);


--
-- Name: catches_backup_20251123 id; Type: DEFAULT; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER TABLE ONLY airtable_backup.catches_backup_20251123 ALTER COLUMN id SET DEFAULT nextval('airtable_backup.catches_backup_20251123_id_seq'::regclass);


--
-- Name: catches_backup_afterexcelload_20251123 id; Type: DEFAULT; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER TABLE ONLY airtable_backup.catches_backup_afterexcelload_20251123 ALTER COLUMN id SET DEFAULT nextval('airtable_backup.catches_backup_afterexcelload_20251123_id_seq'::regclass);


--
-- Name: catches_testing id; Type: DEFAULT; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER TABLE ONLY airtable_backup.catches_testing ALTER COLUMN id SET DEFAULT nextval('airtable_backup.catches_testing_id_seq'::regclass);


--
-- Name: conversations id; Type: DEFAULT; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER TABLE ONLY airtable_backup.conversations ALTER COLUMN id SET DEFAULT nextval('airtable_backup.conversations_id_seq'::regclass);


--
-- Name: fish_species id; Type: DEFAULT; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER TABLE ONLY airtable_backup.fish_species ALTER COLUMN id SET DEFAULT nextval('airtable_backup.fish_species_id_seq'::regclass);


--
-- Data for Name: anglers; Type: TABLE DATA; Schema: airtable_backup; Owner: postgres_db_user
--



--
-- Data for Name: bodies_of_water; Type: TABLE DATA; Schema: airtable_backup; Owner: postgres_db_user
--



--
-- Data for Name: catch_media; Type: TABLE DATA; Schema: airtable_backup; Owner: postgres_db_user
--



--
-- Data for Name: catches; Type: TABLE DATA; Schema: airtable_backup; Owner: postgres_db_user
--



--
-- Data for Name: catches_backup_20251123; Type: TABLE DATA; Schema: airtable_backup; Owner: postgres_db_user
--



--
-- Data for Name: catches_backup_afterexcelload_20251123; Type: TABLE DATA; Schema: airtable_backup; Owner: postgres_db_user
--



--
-- Data for Name: catches_testing; Type: TABLE DATA; Schema: airtable_backup; Owner: postgres_db_user
--



--
-- Data for Name: conversations; Type: TABLE DATA; Schema: airtable_backup; Owner: postgres_db_user
--



--
-- Data for Name: fish_species; Type: TABLE DATA; Schema: airtable_backup; Owner: postgres_db_user
--



--
-- Name: anglers_id_seq; Type: SEQUENCE SET; Schema: airtable_backup; Owner: postgres_db_user
--

SELECT pg_catalog.setval('airtable_backup.anglers_id_seq', 20, true);


--
-- Name: bodies_of_water_id_seq; Type: SEQUENCE SET; Schema: airtable_backup; Owner: postgres_db_user
--

SELECT pg_catalog.setval('airtable_backup.bodies_of_water_id_seq', 14, true);


--
-- Name: catch_media_id_seq; Type: SEQUENCE SET; Schema: airtable_backup; Owner: postgres_db_user
--

SELECT pg_catalog.setval('airtable_backup.catch_media_id_seq', 213, true);


--
-- Name: catches_backup_20251123_id_seq; Type: SEQUENCE SET; Schema: airtable_backup; Owner: postgres_db_user
--

SELECT pg_catalog.setval('airtable_backup.catches_backup_20251123_id_seq', 66, true);


--
-- Name: catches_backup_afterexcelload_20251123_id_seq; Type: SEQUENCE SET; Schema: airtable_backup; Owner: postgres_db_user
--

SELECT pg_catalog.setval('airtable_backup.catches_backup_afterexcelload_20251123_id_seq', 64, true);


--
-- Name: catches_id_seq; Type: SEQUENCE SET; Schema: airtable_backup; Owner: postgres_db_user
--

SELECT pg_catalog.setval('airtable_backup.catches_id_seq', 160, true);


--
-- Name: catches_testing_id_seq; Type: SEQUENCE SET; Schema: airtable_backup; Owner: postgres_db_user
--

SELECT pg_catalog.setval('airtable_backup.catches_testing_id_seq', 20, true);


--
-- Name: conversations_id_seq; Type: SEQUENCE SET; Schema: airtable_backup; Owner: postgres_db_user
--

SELECT pg_catalog.setval('airtable_backup.conversations_id_seq', 168, true);


--
-- Name: fish_species_id_seq; Type: SEQUENCE SET; Schema: airtable_backup; Owner: postgres_db_user
--

SELECT pg_catalog.setval('airtable_backup.fish_species_id_seq', 16, true);


--
-- Name: anglers anglers_pkey; Type: CONSTRAINT; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER TABLE ONLY airtable_backup.anglers
    ADD CONSTRAINT anglers_pkey PRIMARY KEY (id);


--
-- Name: bodies_of_water bodies_of_water_pkey; Type: CONSTRAINT; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER TABLE ONLY airtable_backup.bodies_of_water
    ADD CONSTRAINT bodies_of_water_pkey PRIMARY KEY (id);


--
-- Name: catch_media catch_media_pkey; Type: CONSTRAINT; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER TABLE ONLY airtable_backup.catch_media
    ADD CONSTRAINT catch_media_pkey PRIMARY KEY (id);


--
-- Name: catches_backup_20251123 catches_backup_20251123_pkey; Type: CONSTRAINT; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER TABLE ONLY airtable_backup.catches_backup_20251123
    ADD CONSTRAINT catches_backup_20251123_pkey PRIMARY KEY (id);


--
-- Name: catches_backup_afterexcelload_20251123 catches_backup_afterexcelload_20251123_pkey; Type: CONSTRAINT; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER TABLE ONLY airtable_backup.catches_backup_afterexcelload_20251123
    ADD CONSTRAINT catches_backup_afterexcelload_20251123_pkey PRIMARY KEY (id);


--
-- Name: catches catches_pkey; Type: CONSTRAINT; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER TABLE ONLY airtable_backup.catches
    ADD CONSTRAINT catches_pkey PRIMARY KEY (id);


--
-- Name: catches_testing catches_testing_pkey; Type: CONSTRAINT; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER TABLE ONLY airtable_backup.catches_testing
    ADD CONSTRAINT catches_testing_pkey PRIMARY KEY (id);


--
-- Name: conversations conversations_pkey; Type: CONSTRAINT; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER TABLE ONLY airtable_backup.conversations
    ADD CONSTRAINT conversations_pkey PRIMARY KEY (id);


--
-- Name: fish_species fish_species_pkey; Type: CONSTRAINT; Schema: airtable_backup; Owner: postgres_db_user
--

ALTER TABLE ONLY airtable_backup.fish_species
    ADD CONSTRAINT fish_species_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict 5i6wTuNJAxvkPq8FAhUQEbQBL9i58bh2lpbfrctQVyLpAetvONkSJUDOaJ7pB9d

